<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<%= form_for(@user, url: users_signup_path) do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", id: :user_name %>
  </div>
  
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control", id: :user_email %>
  </div>
  
  <div class="form-group">
    <%= f.label :password %>
    <%= f.text_field :password, class: "form-control", id: :user_password %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>
